# ==========================================
# ROS 2 工作空间生成的编译与日志文件 
# ==========================================
build/
install/
log/

# ==========================================
# C++ 编译产生的中间文件和二进制程序
# ==========================================
*.o
*.so
*.os
*.a
*.out
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# ==========================================
# Python 缓存 
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 各大 IDE 和编辑器的配置文件
# ==========================================
.vscode/
.idea/
*.swp
*.swo
*~
.ccls-cache/
compile_commands.json

# ==========================================
# 操作系统自动生成的垃圾文件
# ==========================================
.DS_Store
Thumbs.db